
.phototext {
   position: relative;
   top: 35px;
   left: -145px;
   width: 100px;
   background-color: silver;
   font-size: 20px;
   border-radius: 5px;
}
.img-thumbnail{
  border-radius: 20px;
}

.thumbnail{
  border-radius: 50px;
}