<div class='container'>
  {{# link-to "home" }}
  <h1>Rainy Dae | DIY Store</h1>
  {{/ link-to }}
  {{# link-to "cart" }}
  <h4 class="text-right">Cart | <span class="glyphicon glyphicon-shopping-cart"></span></h4>
  {{/ link-to }}
  <span class='lead'>It's raining? Learn how to make a rainy day craft.</span>
  <hr>
  {{outlet}}

</div>
