<h1>DIY Products Directory</h1>
<div class='row'>
  <div class='col-lg-2'>
    <h4>All Products</h4>
    <ul class='list-unstyled'>
      {{# each }}
        <li>
          {{# link-to "product" this }}
            {{ name }}
          {{/ link-to }}
        </li>
      {{/ each }}
    </ul>
  </div>
  <div class='col-lg-10'>
    {{ outlet }}
    <hr>
    {{# each }}
    {{# link-to "product" this }}
    <img {{ bind-attr src=avatar }} height="200" width= "200" class="img-thumbnail" />
    {{/ link-to }}
    {{/ each }}
  </div>
</div>